*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.c{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.js{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}